{% extends 'pages/base.html' %}


{% block content %}
<h1> Homepage </h1>
<ul>
{% for post in post %}
    <h2> <li> <a href="{% url 'post-detail' post.pk %}"> {{ post.title }} </a></li> </h2>
    <li> body - {{ post.body }} </li>
    <li> author - {{ post.author }} </li>
    <p> </p>
    <div class="card-footer">
        {% for comment in post.comments.all %}
        <p>
        <span class="font-weight-bold"> {{ comment.author }} &middot;</span>
        {{ comment }}
        </p>
        {% endfor %}
    </div>
{% endfor %}
</ul>

{% endblock content %}